<% include header.html %>

<form method="post" action="/login">
  <p>
    <label>Username:</label>
    <!-- 使用 passport 鉴权时，name 必须为 username -->
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>
<div>
  <a href="/auth/github">Github</a> &nbsp;&nbsp;
  <a href="/auth/linkedin">LinkedIn</a>
</div>
<!-- <p><a href="/users">Get Users</a></p> -->

<% include footer.html %>